/CElegans/pythonScripts/c3o2.dat
*.svg
*.bak
*~
*.pyc
*py.class
generatedMOOSE
CElegans/pythonScripts/*.mod
CElegans/pythonScripts/*.hoc
generatedGENESIS
generatedNEURON
simulations
savedNetworks
CElegans/pythonScripts/*.xml
CElegans/pythonScripts/*.nml



.DS_Store
