/CElegans/pythonScripts/c3o2.dat
*.tmp
*.svg
*.bak
*~
*.pyc
*py.class
generatedMOOSE
CElegans/pythonScripts/*.mod
CElegans/pythonScripts/*.hoc
CElegans/pythonScripts/*enerated*ml
CElegans/pythonScripts/CElegansConnectome.nml
generatedGENESIS
generatedNEURON
simulations
savedNetworks



.DS_Store
