/CElegans/pythonScripts/c302/LEMS_TestOsc.xml
/CElegans/pythonScripts/c302/TestOsc.nml
/CElegans/pythonScripts/c302/LEMS_Test.xml
/CElegans/pythonScripts/c302/LEMS_c302_A_Syns2.xml
/CElegans/pythonScripts/c302/Test.nml
/CElegans/pythonScripts/c302/c302_A_Syns2.nml
/CElegans/pythonScripts/c302/parsen.py
/CElegans/pythonScripts/c302/examples/*_AWC.*ml
/CElegans/pythonScripts/c302/examples/*_Oscillator.*ml
/CElegans/pythonScripts/c302/examples/*_MultiSyns.*ml
/CElegans/pythonScripts/data/ga_statistics.csv
/CElegans/pythonScripts/data/ga_individuals.csv
/CElegans/pythonScripts/c302/velocity.log
/CElegans/pythonScripts/c302/jsbml.log
/CElegans/pythonScripts/c302/c302_B_Full.nml
/CElegans/pythonScripts/c302/c302_B_Pharyngeal.nml
/CElegans/pythonScripts/c302/LEMS_c302_B_Full.xml
/CElegans/pythonScripts/c302/LEMS_c302_B_Pharyngeal.xml
/OpenWormBackers/OpenWormBackers.xlsx
/OpenWormBackers/extract.py
/CElegans/pythonScripts/c302/c302_A_Weights.nml
/CElegans/pythonScripts/c302/LEMS_c302_A_Weights.xml
/CElegans/pythonScripts/c302/clean.sh
/CElegans/pythonScripts/c302/*.mod
/CElegans/pythonScripts/c302/*.hoc
/CElegans/pythonScripts/c302/*.dat
/CElegans/pythonScripts/c302/*brian.py
.idea/*

*.tmp
*.svg
*.bak
*~
*.pyc
*py.class

generatedMOOSE
CElegans/pythonScripts/*.mod
CElegans/pythonScripts/*.hoc
CElegans/pythonScripts/*enerated*ml
CElegans/pythonScripts/CElegansConnectome.nml
generatedGENESIS
generatedNEURON
simulations
savedNetworks

CElegans/generatedNeuroML2/*.hoc
CElegans/generatedNeuroML2/*.mod
CElegans/generatedNeuroML2/*.log
CElegans/generatedNeuroML2/runsim.sh

x86_64
i386
umac
*.dll

CElegans/pythonScripts/c302/unittests/*.nml
CElegans/pythonScripts/c302/unittests/*.xml

.DS_Store

CElegansNeuroML.egg-info/*

dist/*

c302_A_Full.dat
/CElegans/pythonScripts/c302/examples/GenericCell.hoc
/CElegans/pythonScripts/c302/LEMS_NetTest.xml
/CElegans/pythonScripts/c302/LEMS_SimpleTest.xml
/CElegans/pythonScripts/c302/NetTest.nml
/CElegans/pythonScripts/c302/SimpleTest.nml
/CElegans/pythonScripts/c302/examples/GenericMuscleCell.hoc
/CElegans/pythonScripts/c302/examples/GenericNeuronCell.hoc
/CElegans/pythonScripts/c302/examples/output.avi
/CElegans/pythonScripts/c302/examples/testim
/CElegans/pythonScripts/c302/LEMS_c302_C1_Test.xml
/CElegans/pythonScripts/c302/LEMS_c302_D1_Weights.xml
/CElegans/pythonScripts/c302/c302_C1_Test.nml
/CElegans/pythonScripts/c302/c302_D1_Weights.nml
/CElegans/pythonScripts/c302/cells/*
